html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.contenedor-imagen {
  max-width: 100%; /* Ancho máximo del contenedor */
  align-items: center; /* Centrar verticalmente */
  text-align: center; /* Centrar horizontalmente */
}
.contenedor-imagen img {
  max-width: 100%; /* Ancho máximo de la imagen */
  max-height: 50vh; /* Altura máxima de la imagen */
  height: auto; /* Altura automática para mantener la proporción de aspecto */
}

