@{
    ViewData["Title"] = "Home Page";
}
  <!-- start home section  -->

    <div class="home-section" id="home">
        <div class="home-content">
            <h1>Ven y disfruta nuestro <br> delicioso café</h1>
            <p>
                Me contaron que aquí están <br> los mejores momentos.
            </p>
            <div class="home-links">
                <div class="first">
                    <a href="#">ver menú</a>
                </div>
                <div class="second">
                    <a href="#">saber más</a>
                </div>
            </div>
        </div>
    </div>

    <!-- end home section  -->

    <!-- start section two  -->

    <div class="bg-service">
        <div class="service-one">
            <img src="images/img1.jpg" alt="">
            <div class="overlay">
                <div class="over-txt">
                    <p>para tomar</p>
                    <h4>
                        café & bebidas
                    </h4>
                </div>
            </div>
        </div>
        <div class="service-one">
            <img src="images/img2.jpg" alt="">
            <div class="overlay">
                <div class="over-txt">
                    <p>para entrtenerse</p>
                    <h4>
                        granos & endulzantes
                    </h4>
                </div>
            </div>
        </div>
        <div class="service-one">
            <img src="images/img3.jpg" alt="">
            <div class="overlay">
                <div class="over-txt">
                    <p>para comer</p>
                    <h4>
                        bocadillos & postres
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <!-- end section two  -->

    <!-- start section three  -->

    <div class="bg-shop" id="shop">
        <div class="shop-links">
            <div>
                <h2>productos</h2>
            </div>
            <div class="links">
                <li data-filter="all">todos</li>
                <li data-filter=".coffee">café</li>
                <li data-filter=".machines">maquinas</li>
                <li data-filter=".sweets">endulzantes</li>
            </div>
        </div>
        <div class="shop-flex consts">
            <div class="shop1 mix coffee">
                <div class="shop-image">
                    <img src="images/picture-1.png" alt="">
                    <div class="price">
                        -7%
                    </div>
                    <div class="social">
                        <a href="#"><i class="far fa-heart"></i></a>
                        <a href="#"><i class="fas fa-shopping-cart"></i></a>
                        <a href="#"><i class="fas fa-share-alt"></i></a>
                        <a href="#"><i class="fas fa-search"></i></a>
                    </div>
                </div>
                <h2>café caliente</h2>
                <div class="stars">
                    <i class="fas fa-star gold"></i>
                    <i class="fas fa-star gold"></i>
                    <i class="fas fa-star gold"></i>
                    <i class="fas fa-star gold"></i>
                    <i class="far fa-star"></i>
                </div>
                <article>
                    $32.00
                </article>
                <span>
                    $45.00
                </span>
            </div>

            <div class="shop1 mix coffee">
                <div class="shop-image">
                    <img src="images/picture-2.png" alt="">
                    <div class="price">
                        -12%
                    </div>
                    <div class="social">
                        <a href="#"><i class="far fa-heart"></i></a>
                        <a href="#"><i class="fas fa-shopping-cart"></i></a>
                        <a href="#"><i class="fas fa-share-alt"></i></a>
                        <a href="#"><i class="fas fa-search"></i></a>
                    </div>
                </div>
                <h2>café caliente</h2>
                <div class="stars">
                    <i class="fas fa-star gold"></i>
                    <i class="fas fa-star gold"></i>
                    <i class="fas fa-star gold"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <article>
                    $82.00
                </article>
                <span>
                    $95.00
                </span>
            </div>


            <div class="shop1 mix coffee">
                <div class="shop-image">
                    <img src="images/picture-3.png" alt="">
                    <div class="price">
                        -13%
                    </div>
                    <div class="social">
                        <a href="#"><i class="far fa-heart"></i></a>
                        <a href="#"><i class="fas fa-shopping-cart"></i></a>
                        <a href="#"><i class="fas fa-share-alt"></i></a>
                        <a href="#"><i class="fas fa-search"></i></a>
                    </div>
                </div>
                <h2>café caliente</h2>
                <div class="stars">
                    <i class="fas fa-star gold"></i>
                    <i class="fas fa-star gold"></i>
                    <i class="fas fa-star gold"></i>
                    <i class="fas fa-star gold"></i>
                    <i class="far fa-star"></i>
                </div>
                <article>
                    $84.00
                </article>
                <span>
                    $102.00
                </span>
            </div>


            <div class="shop1 mix coffee">
                <div class="shop-image">
                    <img src="images/picture-4.png" alt="">
                    <div class="price">
                        -6%
                    </div>
                    <div class="social">
                        <a href="#"><i class="far fa-heart"></i></a>
                        <a href="#"><i class="fas fa-shopping-cart"></i></a>
                        <a href="#"><i class="fas fa-share-alt"></i></a>
                        <a href="#"><i class="fas fa-search"></i></a>
                    </div>
                </div>
                <h2>café caliente</h2>
                <div class="stars">
                    <i class="fas fa-star gold"></i>
                    <i class="fas fa-star gold"></i>
                    <i class="fas fa-star gold"></i>
                    <i class="fas fa-star gold"></i>
                    <i class="far fa-star"></i>
                </div>
                <article>
                    $66.00
                </article>
                <span>
                    $85.00
                </span>
            </div>


            <div class="shop1 mix machines">
                <div class="shop-image">
                    <img src="images/m1.png" alt="">
                    <div class="price">
                        -20%
                    </div>
                    <div class="social">
                        <a href="#"><i class="far fa-heart"></i></a>
                        <a href="#"><i class="fas fa-shopping-cart"></i></a>
                        <a href="#"><i class="fas fa-share-alt"></i></a>
                        <a href="#"><i class="fas fa-search"></i></a>
                    </div>
                </div>
                <h2>coffee machines</h2>
                <div class="stars">
                    <i class="fas fa-star gold"></i>
                    <i class="fas fa-star gold"></i>
                    <i class="fas fa-star gold"></i>
                    <i class="fas fa-star gold"></i>
                    <i class="far fa-star"></i>
                </div>
                <article>
                    $203.00
                </article>
                <span>
                    $250.00
                </span>
            </div>

            <div class="shop1 mix machines">
                <div class="shop-image">
                    <img src="images/m2.png" alt="">
                    <div class="price">
                        -5%
                    </div>
                    <div class="social">
                        <a href="#"><i class="far fa-heart"></i></a>
                        <a href="#"><i class="fas fa-shopping-cart"></i></a>
                        <a href="#"><i class="fas fa-share-alt"></i></a>
                        <a href="#"><i class="fas fa-search"></i></a>
                    </div>
                </div>
                <h2>coffee machines</h2>
                <div class="stars">
                    <i class="fas fa-star gold"></i>
                    <i class="fas fa-star gold"></i>
                    <i class="fas fa-star gold"></i>
                    <i class="fas fa-star gold"></i>
                    <i class="fas fa-star gold"></i>
                </div>
                <article>
                    $265.00
                </article>
                <span>
                    $293.00
                </span>
            </div>

            <div class="shop1 mix machines">
                <div class="shop-image">
                    <img src="images/m3.png" alt="">
                    <div class="price">
                        -7%
                    </div>
                    <div class="social">
                        <a href="#"><i class="far fa-heart"></i></a>
                        <a href="#"><i class="fas fa-shopping-cart"></i></a>
                        <a href="#"><i class="fas fa-share-alt"></i></a>
                        <a href="#"><i class="fas fa-search"></i></a>
                    </div>
                </div>
                <h2>coffee machines</h2>
                <div class="stars">
                    <i class="fas fa-star gold"></i>
                    <i class="fas fa-star gold"></i>
                    <i class="fas fa-star gold"></i>
                    <i class="fas fa-star gold"></i>
                    <i class="far fa-star"></i>
                </div>
                <article>
                    $160.00
                </article>
                <span>
                    $192.00
                </span>
            </div>

            <div class="shop1 mix sweets">
                <div class="shop-image">
                    <img src="images/m4.png" alt="">
                    <div class="price">
                        -15%
                    </div>
                    <div class="social">
                        <a href="#"><i class="far fa-heart"></i></a>
                        <a href="#"><i class="fas fa-shopping-cart"></i></a>
                        <a href="#"><i class="fas fa-share-alt"></i></a>
                        <a href="#"><i class="fas fa-search"></i></a>
                    </div>
                </div>
                <h2>café caliente</h2>
                <div class="stars">
                    <i class="fas fa-star gold"></i>
                    <i class="fas fa-star gold"></i>
                    <i class="fas fa-star gold"></i>
                    <i class="fas fa-star gold"></i>
                    <i class="far fa-star"></i>
                </div>
                <article>
                    $28.00
                </article>
                <span>
                    $66.00
                </span>
            </div>



        </div>
    </div>
    <!-- end section three  -->

    <!-- start section four  -->
    
    <div class="bg-menu" id="menu">
        <div class="menu-title">
            <section>los favoritos</section>
            <h2>es tiempo para un buen café</h2>
            <hr>
        </div>
        <div class="menu-flex">
            <div class="menu1">
                <div class="small-image">
                    <img src="images/cup1.jpg" alt="">
                </div>
                <div>
                    <h4>café latte</h4>
                </div>
                <div class="line"></div>
                <div>
                    <h4>$3.86</h4>
                </div>
            </div>

            <div class="menu1">
                <div class="small-image">
                    <img src="images/cup2.jpg" alt="">
                </div>
                <div>
                    <h4>café latte</h4>
                </div>
                <div class="line"></div>
                <div>
                    <h4>$4.72</h4>
                </div>
            </div>

            <div class="menu1">
                <div class="small-image">
                    <img src="images/cup3.jpg" alt="">
                </div>
                <div>
                    <h4>café latte</h4>
                </div>
                <div class="line"></div>
                <div>
                    <h4>$2.45</h4>
                </div>
            </div>

            <div class="menu1">
                <div class="small-image">
                    <img src="images/cup4.jpg" alt="">
                </div>
                <div>
                    <h4>café latte</h4>
                </div>
                <div class="line"></div>
                <div>
                    <h4>$5.95</h4>
                </div>
            </div>

            <div class="menu1">
                <div class="small-image">
                    <img src="images/cup6.jpg" alt="">
                </div>
                <div>
                    <h4>café latte</h4>
                </div>
                <div class="line"></div>
                <div>
                    <h4>$7.02</h4>
                </div>
            </div>

            <div class="menu1">
                <div class="small-image">
                    <img src="images/cup8.jpg" alt="">
                </div>
                <div>
                    <h4>café latte</h4>
                </div>
                <div class="line"></div>
                <div>
                    <h4>$6.25</h4>
                </div>
            </div>

            <div class="menu1">
                <div class="small-image">
                    <img src="images/cup7.jpg" alt="">
                </div>
                <div>
                    <h4>café latte</h4>
                </div>
                <div class="line"></div>
                <div>
                    <h4>$4.00</h4>
                </div>
            </div>

            <div class="menu1">
                <div class="small-image">
                    <img src="images/cup8.jpg" alt="">
                </div>
                <div>
                    <h4>café latte</h4>
                </div>
                <div class="line"></div>
                <div>
                    <h4>$5.21</h4>
                </div>
            </div>

            <div class="menu1">
                <div class="small-image">
                    <img src="images/cup9.jpg" alt="">
                </div>
                <div>
                    <h4>café latte</h4>
                </div>
                <div class="line"></div>
                <div>
                    <h4>$3.16</h4>
                </div>
            </div>

            <div class="menu1">
                <div class="small-image">
                    <img src="images/cup10.jpg" alt="">
                </div>
                <div>
                    <h4>café latte</h4>
                </div>
                <div class="line"></div>
                <div>
                    <h4>$4.95</h4>
                </div>
            </div>

        </div>
        <div class="menu-link">
            <a href="https://drive.google.com/file/d/1SwRwMT6sWmR4tp1Jrbjm8LJLX1zQ2Z2h/view?usp=sharing" target="_blank">VER MENU COMPLETO</a>
        </div>
    </div>

   <!-- end section four  -->

   
    <!-- start section five  -->

    <div class="bg-gallery">
        <div class="gallery-flex">
            <div class="image-one event">
                <img src="images/gallery1.jpg" alt="">
                <div class="overlay"></div>
            </div>
            <div class="inside-gallery">
                <div class="left">
                    <div class="event">
                        <img src="images/gallery2.jpg" alt="">
                        <div class="overlay"></div>
                    </div>
                    <div class="event">
                        <img src="images/gallery3.jpg" alt="">
                        <div class="overlay"></div>
                    </div>
                </div>

                <div class="right">
                    <div class="event">
                        <img src="images/gallery4.jpg" alt="">
                        <div class="overlay"></div>
                    </div>
                    <div class="event">
                        <img src="images/gallery5.jpg" alt="">
                        <div class="overlay"></div>
                    </div>
                </div>
            </div>

            <div class="last-image event">
                <img src="images/gallery6.jpg" alt="">
                <div class="overlay"></div>
            </div>
        </div>
    </div>

    <!-- end section five  -->


    <!-- start section six  -->

    <div class="bg-about" id="about">
        <div class="about-flex">
            <div class="about1">
                <div>
                    <img src="images/about1.jpg" alt="">
                </div>
                <div class="image-logo">
                    <img src="images/logo.png" alt="">
                </div>
            </div>

            <div class="about1">
                <div>
                    <img src="images/about2.jpg" alt="">
                </div>
                <div class="about1-txt">
                    <h3>horarios & <br> reservaciones</h3>
                    <center>
                        <br/>
                        <section>lunes - viernes</section>
                        <section>6.00pm - 11.00pm</section>
                        <br/>
                        <section>sabado - domingo</section>
                        <section>4.00pm - 11.00pm</section>
                    </center>
                </div>
            </div>
        </div>
    </div>

    <!-- end section six  -->