@{
    ViewData["Title"] = "Home Page";
}
<div>
    <div class="text-center">
            <h1 class="display-4">Bienvenidos!</h1>
        </div>
    <div class="contenedor-imagen">
        <img src="images/coffee_07.jpg"/>
    </div>
    <div class="text-center">
        <h1 class="display-6">Favoritos</h1>
        <p>La mejor experiencia te espera.</p>
    </div>
    <div class="text-center">
        <h1 class="display-6">Menú</h1>
        <p>La mejor experiencia te espera.</p>
    </div>
    <div class="text-center">
        <h1 class="display-6">Postres</h1>
        <p>La mejor experiencia te espera.</p>
    </div>
    <div class="text-center">
        <h1 class="display-6">Promociones</h1>
        <p>La mejor experiencia te espera.</p>
    </div>
</div>